h2 {
  color: #333333 !important; }

p {
  font-size: 0.9em !important; }

code {
  font-size: 0.9em !important; }

.mid_font {
  font-size: 0.7em !important; }

.mid_code {
  font-size: 0.7em !important;
  background-color: #3f3f3f; }

.marg_top15 {
  margin-top: 15px; }
