<plugin>
    <config app-name="APKreator"
        app-color="#1abc9c"
        tabs-amount="5"
        tab0="Welcome"
        tab1="YouTube"
        tab2="Google+"
        tab3="Twitter"
        tab4="Maps"
        youtube-user="marquesbrownlee"
        website="http://androguide.fr"
        xda="http://xda-developers.com"
        twitter="http://twitter.com/AndroguideFr"
        g-plus="http://plus.google.com/u/0/116104837766524942436/posts"
        facebook="http://facebook.com/andro.guidefr">
    </config>
</plugin>
